In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

#### Demonstrando utilização indexação booleana para sabermos informaçãoes sobre o Brasil

In [5]:
df[df['country'] == 'Brazil']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
23,Brazil,245,145,16,7.2

### Mostrando todos os países que o consumo de alcool é maior igual a 12

In [6]:
df[df['total_litres_of_pure_alcohol'] >= 12]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
15,Belarus,142,373,42,14.4
98,Lithuania,343,244,56,12.9

#### Verificando os países que tem o consumo total igual a zero

In [7]:
df[df['total_litres_of_pure_alcohol'] == 0].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
13,Bangladesh,0,0,0,0.0
46,North Korea,0,0,0,0.0
79,Iran,0,0,0,0.0
90,Kuwait,0,0,0,0.0

#### Ordenando os valores a partir da variável que contém os maiores valores para a que tem menor

In [8]:
df.sort_values(by='wine_servings', ascending= False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4